.star-border-container {
  display: block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 100%;
  opacity: 1;
  bottom: -50%;
  right: -100%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
  pointer-events: none;
}

.border-gradient-top {
  position: absolute;
  opacity: 1;
  width: 300%;
  height: 100%;
  top: -50%;
  left: -100%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
  pointer-events: none;
}

.inner-content {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1A1F2B;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
  height: 100%;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(50%, 0%);
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translate(-50%, 0%);
    opacity: 0.7;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(-50%, 0%);
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translate(50%, 0%);
    opacity: 0.7;
  }
}
